@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie resetowania hasła";
}

<h2>@ViewData["Title"]</h2>
<p>
    Twoje hasło zostało zresetowane. Prosze <a asp-page="./Login">kliknik tu aby się zalogować</a>.
</p>